[2018-06-15 03:26] miquelcampos opened #1 "Shifter: Spring chain bake not working as expected"
_From @miquelcampos on June 5, 2018 23:49_

when animating the “spring chain intensity” and doing a bake with the “synoptic baker”, the result is broken…only when doing a “bake simulation” on the plot-group, the result is as expected, but then no unbake is possible…

_Copied from original issue: mgear-dev/mgear#222_

[2018-06-15 03:28] miquelcampos opened #2 "Shifter: New components window:"
_From @miquelcampos on August 21, 2017 2:57_

- Folder organization and project component repository
- drag and drop
- duplicate component + edit in external editor
- Guides templates tab
- quick search
    - tags ?

_Copied from original issue: mgear-dev/mgear#45_

[2018-06-15 03:28] miquelcampos opened #3 "Shifter: IO guides templates"
_From @miquelcampos on August 21, 2017 3:9_

-IO to json files .shifter Template (.st)
-import partial guides
    -json file guide explorer
-build from file

_Copied from original issue: mgear-dev/mgear#46_

[2018-06-15 03:30] miquelcampos opened #4 "Synoptic: Replace script jobs by callbacks"
_From @miquelcampos on August 28, 2017 10:34_

EDIT: implement after: mGear: Callback Manager #165
Replace the scriptjobs for visual feedback with callbacks, for a more robust management with several synoptic window open.
Right now only the latest synoptic view has visual feedback for selected controls.

The call back manager should be independent from synoptic

_Copied from original issue: mgear-

[2018-06-15 03:30] miquelcampos commented on #4
_From @yamahigashi on December 15, 2017 10:44_

Hi Miquel,
It's my turn, I'll tackle it.

[2018-06-15 03:30] miquelcampos commented on #4
Oh! Great :D  Thank you for the help!

btw: please check the contribution document: https://github.com/miquelcampos/mgear/blob/master/CONTRIBUTING.md

Please don't hesitate contacting me if you have any question regarding this issue.

[2018-06-15 03:30] miquelcampos commented on #4
Hello @yamahigashi , did you have the chance to advance with this issue?  Thanks
I moving it from 2.5 milestone to 2.X.

[2018-06-15 03:30] miquelcampos commented on #4
Hello @yamahigashi  I will take over this one soon.  I  want to create a callback manager that can be use in other areas. Is it ok for you?  Thanks

[2018-06-15 03:32] miquelcampos opened #5 "Shifter: Custom Steps: Version control"
_From @miquelcampos on September 4, 2017 6:13_

Option/Tool to control versioning on custom steps

_Copied from original issue: mgear-dev/mgear#55_

[2018-06-15 03:33] miquelcampos opened #6 "Synoptic: filter listed tabs folder"
_From @miquelcampos on October 5, 2017 8:56_

Avoid listing .svn folder or other folders starting with "." on the available synoptic tabs list

_Copied from original issue: mgear-dev/mgear#60_

[2018-06-15 03:33] miquelcampos opened #7 "Shifter: Games: Tools for decouple deform and control rig"
_From @miquelcampos on October 13, 2017 5:25_

-export import jnt connections
-Decouple for easy FBX export of deformation joints and geometry

_Copied from original issue: mgear-dev/mgear#64_

[2018-06-15 03:34] miquelcampos opened #8 "Shifter: Guide multi renamer tool"
_From @miquelcampos on October 19, 2017 4:51_

Tool to rename multiple guides at the same time

_Copied from original issue: mgear-dev/mgear#69_

[2018-06-15 03:34] miquelcampos opened #9 "Shifter: Prevent guide component creation on sizeRef Nodel"
_From @miquelcampos on October 20, 2017 9:43_

Add a checker to avoid guide creation on to of the sizeRef node from the Control_01. This will break the build

_Copied from original issue: mgear-dev/mgear#70_

[2018-06-15 03:34] miquelcampos opened #10 "Shifter: Build log control list print"
_From @miquelcampos on November 3, 2017 21:14_

improve the controls printed list by creating a table with the following headers:

- component
- name
- controls list for the component

_Copied from original issue: mgear-dev/mgear#81_

[2018-06-15 03:35] miquelcampos commented on #1
This issue was moved to mgear-dev/shifter#1

[2018-06-15 03:35] #1 closed

[2018-06-15 03:36] miquelcampos commented on #10
This issue was moved to mgear-dev/shifter#2

[2018-06-15 03:36] #10 closed

[2018-06-15 03:36] miquelcampos commented on #2
This issue was moved to mgear-dev/shifter#3

[2018-06-15 03:36] #2 closed

[2018-06-15 03:36] miquelcampos commented on #3
This issue was moved to mgear-dev/shifter#4

[2018-06-15 03:36] #3 closed

[2018-06-15 03:37] miquelcampos commented on #5
This issue was moved to mgear-dev/shifter#5

[2018-06-15 03:37] #5 closed

[2018-06-15 03:37] miquelcampos commented on #7
This issue was moved to mgear-dev/shifter#6

[2018-06-15 03:37] #7 closed

[2018-06-15 03:37] miquelcampos commented on #8
This issue was moved to mgear-dev/shifter#7

[2018-06-15 03:37] #8 closed

[2018-06-15 03:38] miquelcampos commented on #9
This issue was moved to mgear-dev/shifter#8

[2018-06-15 03:38] #9 closed

[2018-06-15 03:39] miquelcampos opened #11 "Modularisation of mgear"
_From @mottosso on November 14, 2017 8:31_

Hi Miquel,

We talked briefly about splitting mgear up into modules, such that a user could install only the parts of interest and to improve maintainability of smaller parts, as opposed to one large library.

Here's how I see that working.

- Core
- Data
- Extensions

[code]

### Data

I'll start with this, as it's best suited for splitting apart. The C

[2018-06-15 03:39] miquelcampos commented on #11
Hi Marcus,

I would like to add @gatgui to the conversation.

In short... yes!  this is pretty close to what I have in mind. :)

I am not sure about the pip install. I meant this is a new idea that I have to digest (but I like it ).  Provably the ideal will be to support several types of distribution. i.e: one simple for casual users, animators, freelance, etc ... and another more oriented to a pr

[2018-06-15 03:39] miquelcampos commented on #11
I have re-organize the projects and the date for the next milestone.

Now I am aiming for 2.3 version Due by March 31, 2018 (I know this is hard to preview, but I like to work with a deadline in my head. So the target is clear.  I will adjust this based on the progress each months) This is 3 month more than the previous deadline. Lets see if is enough :P

I have closed the 2.4 project and move all

[2018-06-15 03:39] miquelcampos commented on #11
_From @mottosso on November 15, 2017 6:45_

I might be able to help here, cosmetic PEP8 changes will not (or should not, at least!) have any effect on the functionality of the code.

I'll put together a PR so we can chat about specifics, and which rules of PEP8 to exclude (such as mixedCase variable names).

[2018-06-15 03:39] miquelcampos commented on #11
Yes, cosmetics changes is what I meant here:

[2018-06-15 03:39] miquelcampos commented on #11
_From @liorbenhorin on November 15, 2017 7:3_

Hi Guys I just want to say that i'm reading this and it makes me very happy to see mgear future!
I can't wait to contribute  the second I have some time to breath :)

[2018-06-15 03:39] miquelcampos commented on #11
Hi @liorbenhorin
Glad to hear :) Thank!

btw: I am trying to expose all the ideas that I have for mGear here: https://github.com/miquelcampos/mgear/projects/5

Some are very vague exposed, but hopefully will start some interesting conversations.

[2018-06-15 03:39] miquelcampos commented on #11
_From @mottosso on December 2, 2017 17:13_

Hi @miquelcampos, I've put together an example organisation here on GitHub with some ideas around how I imagine this to work. None of it is functional; it's purely visual for now, to discuss some ideas.

<p align=center>
	<img src=https://user-images.githubusercontent.com/2152766/33516031-73e81830-d763-11e7-9981-3898e7a5e13f.png>
</p>
<p align=center>
	<

[2018-06-15 03:39] miquelcampos commented on #11
Hi @mottosso  Thank you for moving this forward!

- Pandora is a catchy name, but... I would like to keep the components with more descriptive name: i.e "Shifter_base_components".  This will allow to create other components packets. ie: "shifter_xxxProject_components" or "Shifter_vehicle_components".
- Also the C++ solvers should be independent in another package. Not all the shifter components ne

[2018-06-15 03:39] miquelcampos commented on #11
_From @mottosso on December 3, 2017 9:0_

Invite sent, it's all yours.

That's absolutely fine, but, the only thing I'd suggest is that you don't call it something that make it seem like it's required or "default". If you can make it sound optional, then it'd encourage others to look at it for reference when building their own alternatives, where we could potentially be looking at an ecosystem of

[2018-06-15 03:39] miquelcampos commented on #11
I see the point, you are right.

Maybe instead of use "base" something like "shifter_components_basic_pack" ?

[2018-06-15 03:39] miquelcampos commented on #11
_From @mottosso on December 3, 2017 12:57_

Yes, but remember to *sell* it. :) Get people excited about it, a reason to use it, to devote time into understanding and learn it. Give it a theme. `shifter_components_basic_pack` is probably a little dull for anything public.

- "Have you seen this new mgear extension, KungFu? It's really cool and runs great on my i7"

Now try this..

- "Have you seen

[2018-06-15 03:39] miquelcampos commented on #11
Hahaha! you are a master!

Yep is see the point. But still, I think "Shifter" is the catchy name for the rigging system. And the components should be descriptive of the content.  I don't want to mislead the people with too many fancy names, if it is meant to work only together and not solo. I this  case Shifter + his components.

Unless the Pandora pack is a shifter component pack to rig only Na'v

[2018-06-15 03:39] miquelcampos commented on #11
_From @RafaelVillar on December 4, 2017 0:57_

Hello everyone,
I subscribe and I have been listening in closely. I hope I could share my thoughts on naming.
I agree with @mottosso on salesmanship of a product. There needs to be an allure to something so it can gain traction. But before one goes too far, I think simplicity is always key. Shifter is a great name, but by itself it doesnt describe wha

[2018-06-15 03:39] miquelcampos commented on #11
Hi @RafaelVillar about the presets comment. It is what I call "guide templates". This concept was in Softimage Gear version, but is not yet implemented in mGear.
This will come before we move to mGear 3.x structure
more info: https://github.com/miquelcampos/mgear/issues/46

[2018-06-15 03:40] miquelcampos commented on #6
This issue was moved to mgear-dev/synoptic#1

[2018-06-15 03:40] #6 closed

[2018-06-15 03:40] miquelcampos commented on #4
This issue was moved to mgear-dev/synoptic#2

[2018-06-15 03:40] #4 closed

[2018-06-15 04:17] miquelcampos opened #12 "mGear: icons for menus"
_From @miquelcampos on January 31, 2018 9:3_

This is not super priority, but will be nice to have icons for the menus.

Any designer reading this? :)

_Copied from original issue: mgear-dev/mgear#150_

[2018-06-15 05:36] miquelcampos commented on #11
TO DO:

- [ ] update menu to build based on the modules loaded
- [ ] update the readme and information in each new submodule

[2018-06-18 07:52] miquelcampos commented on #11
here is a image for architecture description
![architecture](https://user-images.githubusercontent.com/1050212/41524300-fa68a2da-7317-11e8-83e6-f3d9e514a922.png)

[2018-06-21 06:56] #11 closed

[2018-06-21 07:02] miquelcampos opened #13 "submodule Serguei Maya math nodes"
https://github.com/serguei-k/maya-math-nodes

[2018-06-21 07:02] #13 closed

[2018-06-24 20:55] hoover900 commented on #12
I've been pulling together some open source svgs to use for an mgear shelf I've been wanting to put together, but haven't had anytime to work on it yet.

The artist [Smartline](https://www.flaticon.com/authors/smartline?group_id=162&order_by=1&color=2) has a large selection of gear based icons and other techno bits that I think covers most of the functions. Let me know is this a good direction.

[2018-06-25 02:01] miquelcampos commented on #12
Hi @hoover900 The icons looks really nice. Thanks for the heads up here.

But I think the license is a problem here: https://file000.flaticon.com/downloads/license/license.pdf

because we will basically re-distribute the contents and incluede the contents in online file

[2018-07-02 09:27] scroll opened #14 "submodules naming convention"
**Feature description**
Naming convention of submodules

**Extra information**
Currently the repository consists of different style naming conventions:

`simpleRig` (camelcase)
`maya-math-nodes` (dashes)
`mgear_core` (underscores)

Would you like to standardize it? I personally prefer dashes or underscores, because everything becomes lowercase and easier to guess.

[2018-07-02 10:40] miquelcampos commented on #14
yep good point.
Some repos are forked like the maya-math-nodes. So not sure the best way to  standardize. But this names are only the name of the repo. Not the module itself.
Again, not sure about this distintion. but this is how it looks the modules in the final release:

![image](https://user-images.githubusercontent.com/1050212/42159696-a25c074e-7e2f-11e8-9d86-711e18198656.png)

I guess only si

[2018-07-02 10:42] scroll commented on #14
@miquelcampos , in the upper example `shifter_classic_components` has underscores, is it going to be there in the future or? For forked repos, I feel we can still change the container directory, I think.

[2018-07-02 11:35] miquelcampos commented on #14
@scroll That was my original ideal. To keep the underscore separation to help readability.

In this specific situation  the module is a package of components for shifter. So I thought make sense to have a very long descriptive name .

For example in the future we can have more like this:
```shifter_mechanical_components```
```shifter_bird_components```
```shifter_projectXXX_componets```
```shifter

[2018-07-07 23:36] miquelcampos opened #16 "DOCUMENTATION: Improve documentation and tutorials for final users"
- Document for Shifter rig features
- Video tutorial for character rigging under 15 min with voice over
- Document for all menu tools

[2018-10-08 07:17] jdrese commented on #14
Hello guys

Following this topic really quickly I think that for me **simpleRig** should be changed to **simplerig** and **shifter_classic_components** could simply by **shiftercomponents** and then  having the specific ones under that same module with a simpler name. Maybe we could even create **factory** or **builin** module inside **shiftercomponents**  which stores the ones that get shipped by

[2018-10-11 18:13] jdrese commented on #16
Hello Miquel.

I am creating a brand new sphinx project/configuration for mGear. While doing so I might restructure the mgear_dist repository by moving everything related to mgear's direct repos into a framework folder. This will come more easier to show than explain so i will inform you when I've pushed my changes into the documentation branch in mgear_dist

[2018-10-11 18:25] jdrese opened #17 "mgear_dist: Create new distribution structure"
Due to how mgear_dist is growing it would be good to have the structure inside mgear_dist to be a little bit clearer and simpler.

@mgear-dev/developers I will create a test for this and will let you know when you can check it out. If you already have some comments please shoot

[2018-10-12 08:16] jdrese commented on #16
Hi @miquelcampos .

I might need to explain a little bit further. My idea isn't to change how we setup the repositories as I think this is okay now, what I want is the submodules inside mgear_dist to be a little bit more structured.

We would have something like the following (for example)

* mgear_dist
  * framework
     * shifter
     *  flex
     * cranck
     * ....
 * excons
 * doc
 * ...

Th

[2018-10-12 15:12] jdrese opened #18 "Create new sphinx project"
The previews Sphinx project is okay but in order to structure it all in a nicer / more understandable way  we need to generate a full project from scratch for mGear 3.0.0.

Moving all hard coded rst content/images to the new project is going to be done and then the API documentation generation will be fully automated.

[2018-10-12 15:21] jdrese opened #19 "Release log needs to be mapped correctly to older and newer issues"
mGear's uses a custom sphinx extension called **changelog_links** that reads the releaseLog.rst file and generates the correct links to the issues on gitHub.

[2018-10-12 15:22] jdrese commented on #19
There are several issues...
Previous version of mGear do not contained this custom **changelog_links** sphinx extension in the repo. Took me quite a while to find it but finally did and it is now added and I am declaring it on the Sphinx project in a better way (that we know it is not an official Sphinx extension)...

[2018-10-12 15:28] jdrese commented on #19
Another issue is that the current  **changelog_links ** extension does not support the fact that we now have issues all over the place :D (different repositories).

What I am going to do is officially (with your approval) declare a way we put the issues on the releaseLog rst file that they get correctly mapped to the correct issue page on github.

Check the following and let me know.

For legacy p

[2018-10-12 15:30] jdrese opened #20 "Allow video embeding on the sphinx documentation"
Rst and MD files do not allow video embedding... or at least not with sphinx by default.
Need to write an extension for sphinx that allows this.

[2018-10-12 16:37] mottosso commented on #19
We've struggled with this for Pyblish too; a great idea on paper, to keep issues close to their projects, but bad idea in practice as it complicates things like these, along with search and assignments and labels and milestones and boards and backups and you name it. The same goes for the wiki.

Another option that I would recommend, having lived through the above, is that you hide the issue secti

[2018-10-13 12:07] jdrese commented on #19
Hello @mottosso

It's funny because I was sort of thinking the same on the issues tracking (having them only on one place).

I was trying to find if that was possible on mgear-dev group itself but did not find it so maybe I can't add the issues tracking on the group (because of access rights? or simply you can't track on a group level on github) so I wanted to track everythin on mgear_dist.

I did

[2018-10-15 01:44] miquelcampos commented on #19
Hi @jdrese
Sorry for the late reply here.

I guess you already have your version, and is useless now. But, here is the changelog_links  extension, I don't remember where I have found it. But This is a modification I did to work with issues in separated repositories
[changelog_links.zip](https://github.com/mgear-dev/mgear_dist/files/2477118/changelog_links.zip)

So with this, you can set the repo a

[2018-10-15 07:14] jdrese commented on #19
Thanks @miquelcampos
I was lucky and found (the same extension) as well but that constains some more interesting filters in it but I can combine them. That been said I will change it in order to have it reading mgear/issues and mgear_dist

[2018-10-17 02:18] miquelcampos commented on #17
Hi @jdrese
Following up with our conversation, I have been researching about the new structure and how to organize the mgear packages

regarding the use of pkgutil
[code]

I would like to use namespace packages like is defined in https://www.python.org/dev/peps/pep-0420/
This was the way I was talking but didn't remember exactly since never used it before.  I was thinking maybe is the same as exte

[2018-10-17 09:29] jdrese commented on #17
Hello @miquelcampos

Thanks for the research. Seems interesting. I will give it a try then and will get back to you with more information next week.

[2018-10-25 19:19] jdrese commented on #17
Hello @miquelcampos

So after checking the documentation page I have to say that the idea of using pkg_resources rather than pkgutil seems kind of nice specially because of how they work with charging the modules. pkgutils will extend/load the modules depending on the order they got added into the sys.path and this in some dependency cases can lead into problems (I actually recall having those at

[2018-11-29 19:48] #17 closed

[2018-12-05 02:53] miquelcampos opened #21 "mGear dist: add QJsonModel submodule and configure scons"

[2018-12-05 02:54] #21 closed

[2018-12-10 01:27] miquelcampos opened #22 "mgear_dist: update release log"
the release log need to be updated

[2018-12-12 06:54] #22 closed

[2018-12-13 11:27] jdrese opened #23 "Vendor scripts not getting released correctly with sconstruc"
If you define the same exact path twice in the sconstruct only the last one declared is the one been taken into account so if you need copying on the same release folder from different sources you need to place them under the same line as a list.

[2018-12-13 11:28] #23 closed, assigned to jdrese

[2018-12-13 13:05] miquelcampos commented on #23
Thanks for fixing this!

[2019-01-08 14:05] miquelcampos opened #24 "Add BraveRabbit weightDriver to mGear dist"
https://github.com/mgear-dev/weightDriver

[2019-01-08 14:24] jdrese commented on #24
Do you want me to take care of this?

[2019-01-08 14:51] miquelcampos commented on #24
oh! thanks! Yes, please :)

[2019-01-08 14:57] jdrese commented on #24
ok I will do it tonight

[2019-01-18 05:57] miquelcampos opened #25 "mgear_dist: math nodes for Maya 2017 win64 are no loading"
provably are not correctly compiled

[2019-01-18 08:52] jdrese commented on #25
I can take care of this if you want

[2019-01-18 10:54] miquelcampos commented on #25
If you can check it is very welcome. Thanks!

[2019-01-21 00:01] blastframe opened #26 "Incorrect grammar in UI"
**Describe the bug**
Proper grammar for UI is **Blink Height**.

**Screenshots**
![blink_height](https://user-images.githubusercontent.com/3729547/51446867-89a97100-1ccc-11e9-8082-26256a222425.PNG)

[2019-01-21 00:15] RafaelVillar commented on #26
Thank you for pointing out, we do hope that people will be kind to us on this issue. We are a group of multilingual developers scattered across the world. Not many of us with English as a first language.

[2019-01-21 00:38] blastframe commented on #26
Of course! Your English is much better than my Spanish, trust me. :) It is correct as the Attribute so for UX, it is better to be consistent.
![attributes](https://user-images.githubusercontent.com/3729547/51447324-aeecae00-1cd1-11e9-9bd7-a6462171be4e.PNG)

Thank you all for your hard work on this incredible free software. I am just trying to help.

[2019-02-04 02:40] miquelcampos commented on #25
@jdrese  also moving this one to 3.1

[2019-02-04 08:41] jdrese commented on #25
Thanks @miquelcampos
I will figure this out. When compiling on your side the nodes for Maya 2017 you still had VS11 instralled on your side?

[2019-03-20 13:30] Lohult opened #27 "Synoptic IK/FK match ikRot check."
**Feature description**
The mgear biped arm comes in with default settings that has separate IK arm translate and rotate controls. The synoptic looks for the ikRot nodes. So if you choose to disable the separate rotate translate settings the IK/FK match stops working. FEATURE REQUEST: a simple check if the ikRot exists, if not don't look for it and match the arm FK or IK.

[2019-04-05 16:23] liorbenhorin opened #29 "2019 OSX builds - crash during build from selection"
Hello! - hope this is the correct place for this :)
I just finished building the plug-ins for Maya 2019 on OSX.

**Description**
When I import the template biped guide, and 'build from selection' - Maya crashes mid-way into the build.

What is working:
- The plugins load fine.
- I am able to build random modules just fine.
- A template biped rig that was generated on mgear 3.1.1 on windows/OSX May

[2019-04-05 23:04] miquelcampos commented on #29
@liorbenhorin Thanks for sharing this info.
To be honest, I didn't test it in OSX with Maya 2019
I will try to ask some colleagues to see if someone can help with this
Thanks,
Miquel

[2019-04-07 22:58] jollypixel commented on #29
I had the same experience on macOS 10.13.6 Maya 2019
It seems to work when Guide Settings > Add Internal Proxy Channels is off, it crushes when is on.
On linux Maya 2019 works fine with Add Internal Proxy Channels on

[2019-04-08 01:19] miquelcampos commented on #29
Ops!  I completely misunderstood the issue :(  (I should not read this things in a rush, sorry)

The problem is not at plugins compile time. but later at guide build time. correct?

[2019-04-08 04:37] liorbenhorin commented on #29
@miquelcampos  correct.

Same happens for me:

[2019-04-08 07:58] miquelcampos commented on #29
@liorbenhorin thanks for the confirmation
 Do you know if Maya 2019 OSX has any issue with proxy channels?

[2019-04-08 19:00] jollypixel commented on #29
I haven't had any issues with Maya 2019 proxy channels on macOS.

[2019-04-09 01:36] miquelcampos commented on #29
This is going to be hard to debug for me since I don't have Maya 2019 in OSX env :(

@liorbenhorin @jollypixel  can you help with this?

Thanks
Miquel

[2019-04-09 03:57] liorbenhorin commented on #29
I will definitely take a look as soon as I have a couple of hours

[2019-04-09 06:11] miquelcampos commented on #29
Thanks!

[2019-04-09 06:48] jollypixel commented on #29
@miquelcampos Yes, of course :)

[2019-04-09 08:28] miquelcampos commented on #29
thanks!

[2019-04-10 19:43] jollypixel commented on #29
It doesn't crush when this is commented out in arm_2jnt_01/__init__.py
'''
            attribute.addProxyAttribute(
                attrs_list,
                [self.fk0_ctl,
                    self.fk1_ctl,
                    self.fk2_ctl,
                    self.ik_ctl,
                    self.upv_ctl,
                    self.mid_ctl])
            attribute.addProxyAttribute(self.roll_att,

[2019-04-10 19:50] jollypixel commented on #29
On closer inspection...
// Error: file: /Applications/Autodesk/maya2019/Maya.app/Contents/scripts/others/dynRenameAttrWin.mel line 277: Target objects must be specified in "node.attribute" format //

![Screen Shot 2019-04-10 at 20 46 47](https://user-images.githubusercontent.com/48414676/55908636-dae14680-5bd1-11e9-8bf3-cd3b2341145c.png)

[2019-04-10 20:04] jollypixel commented on #29
It works with "Use Classic Channel Names" off and one object instead of a list

[2019-04-10 20:11] jollypixel commented on #29
Just run this on five objects (the last one had an attribute "test" and works fine.

import pymel.core as pm
from mgear.core import attribute
attribute.addProxyAttribute(pm.selected()[-1].test, pm.selected()[:-1])

[2019-04-26 15:29] jdrese opened #30 "mgear_dist: Add cvwrap menu item"
Add CVwarp menu item when Maya starts

[2019-04-26 15:33] jdrese opened #31 "mgear_dist: Add namespace into mgear script"
When I integrated the namespace system I forgot to add it ass well on the main one

[2019-04-26 15:34] #30 closed

[2019-04-26 15:34] #31 closed

[2019-04-30 09:28] miquelcampos opened #34 "mgear_dist: update __init__ scons template with new module reload"
update to match @tokejepsen's new reload function

[2019-04-30 11:14] tokejepsen commented on #34
Ohh I see, could have updated that in the PR.

[2019-04-30 13:48] #34 closed

[2019-04-30 13:49] miquelcampos commented on #34
@tokejepsen ;)

[2019-05-02 07:00] miquelcampos opened #35 "mgear_dist: Add version number to all sub-modules"
We will adopt a system like Pyblish using version.py to track each submodule version.
We will start with 3.2.0 version for each module. From this point each version number  will evolve separately

[2019-05-02 07:44] miquelcampos opened #36 "mgear_dist: add default vendor modules in vendor folder"
reference conversation: https://github.com/mgear-dev/mgear_dist/pull/32

[2019-05-02 07:47] #36 closed

[2019-05-02 08:07] #35 closed

[2019-06-21 09:43] liudger opened #38 "animbits cache manager"
When having isRig attribute on a non mgear rig present it still can't find the rig.
It is only looking for this attribute right?

error in scripteditor:
![Selection_099](https://user-images.githubusercontent.com/4112111/59914218-39b90c80-941a-11e9-9382-c8689fe4b199.png)

[2019-06-21 10:17] liudger commented on #38
is_rig is the attribute that needed to be there. So issue solved!

[2019-06-21 11:54] liudger opened #39 "animbits cache manager pre script option"
Have a option to select a script to run before caching will start.
This would help to set the character in the right setting for caching.

So the script needs to run before each character is cached. So the manager should provide the script with which character is going to be cached so it can set the right setting for that character.

[2019-06-21 12:26] liudger commented on #38
import os

# RIG SEARCH ATTRIBUTE
os.environ["MGEAR_CACHE_MANAGER_RIG_ATTRIBUTE"] = ""

# RIG MODEL GROUP
os.environ["MGEAR_CACHE_MANAGER_MODEL_GROUP"] = ""

# CACHE DESTINATION
os.environ["MGEAR_CACHE_MANAGER_CACHE_DESTINATION"] = ""

it doesn't seem to want other than is_rig attribute

[2019-06-26 16:08] 4lxDN3 opened #40 "`git clone https://github.com/mgear-dev/mgear_dist.git --recursive` does not work (Permission denied)"
**Describe the bug**
Executing the command `git clone https://github.com/mgear-dev/mgear_dist.git --recursive` does not work as expected. Some submodules do not materialize correctly.

**To Reproduce**
Execute the command WITHOUT any credentials in a terminal.

**Additional information**
See attachment for a complete log.

[clone_log.txt](https://github.com/mgear-dev/mgear_dist/files/3330974/clone

[2019-06-26 16:31] 4lxDN3 commented on #40
Tried with an empty `.ssh` folder, still the same result.

[2019-06-27 12:04] ivogrig commented on #40
I have a similar issue

[2019-06-27 12:42] miquelcampos commented on #40
Hello @4lxDN3 and @ivogrig
The mgear_dist repository was configured using SSH credentials. This is not an issue for the main repo but doe the submodules.
We know this limitation and after long talk and research, we decided to keep it like this.
So you need to use SSH at this point. or recreate your own mgear_dist
My apologies for the inconvenience.

[2019-06-27 13:39] 4lxDN3 commented on #40
Too bad, you could reach a wider audience if you drop this restriction.
Thanks for your answer.

[2019-06-27 15:17] miquelcampos commented on #40
@4lxDN3 is not really a restriction. You can configure your github account to use ssh key :)
https://help.github.com/en/articles/connecting-to-github-with-ssh
everybody can do it ;)

[2019-06-27 15:38] 4lxDN3 commented on #40
@miquelcampos But not everybody want to :p
In a dream world, https should be enough to read and/or use an opensource project.

[2019-06-29 20:56] tokejepsen commented on #40
I would have to agree with @4lxDN3. You have probably discussed this heavy in the background with the developers, but its such a headache for newcomers to get through when all they wanna do is contribute.

[2019-06-30 01:02] miquelcampos commented on #40
@tokejepsen @4lxDN3  I don't remember all the reasons because we decided to keep this with SSH.
For me, the main thing is time. If someone wants to join the dev team and take the responsibility to create an experimental dist repo base in Https (Don't change the current repo rights until we are sure) and test that all works. I more than happy to move to it.

@jdrese  do you see any issue to move to

[2019-07-03 11:18] #38 closed

[2019-07-03 15:03] scroll opened #42 "Exporting skinweights on lattice does not save the file"
**Describe the bug**
It seems like there is no filed saved when exporting skinned lattices.

**To Reproduce**
Steps to reproduce the behavior:
Skin a lattice. Export the skinned object weights. There is no file saved.

**Additional information**
I haven't had the time to debug it, maybe it's just looking for polygon or curves as an objects to export, but there is usually fair amount of non-linear

[2019-07-03 15:05] scroll commented on #42
By the way, I just put this here for placeholder info. I can probably try to resolve this once I get some free time.

[2019-07-04 03:04] miquelcampos commented on #42
Hi @scroll  thanks for adding this functionality. indeed it was missing.
Also, don't remember if other types a part of meshes is supported (curves and nurbs) :P

[2019-07-04 03:05] miquelcampos commented on #38
thanks @liudger for closing this. I did forget :)

[2019-07-09 07:40] jdrese commented on #39
Hello @liudger

I will try to add this.

[2019-07-09 07:48] jdrese commented on #40
I am closing this one.

[2019-07-09 07:48] #40 closed

[2019-07-22 12:22] JaschaW opened #43 "foot_bk_01 component roll_ctrl issue"
**Describe the bug**
When toggling the "use roll control" checkbox under the settings tab of the foot_bk_01 component, it does not update on the actual component.

**To Reproduce**
1. Create foot_bk_01 component
2. Open component settings tab, toggle "use roll ctl" and build.
3. Still builds with roll ctl.

**Screenshots**
![mgear_foot_bk_01](https://user-images.githubusercontent.com/31500795/6163

[2019-07-22 14:38] miquelcampos commented on #43
Hi @JaschaW  thanks for the feedback!  Do you feel like sending a pull request?  If not I will do it :)  Thanks!

[2019-07-22 15:13] JaschaW commented on #43
Hi @miquelcampos you are most welcome! Happy to contribute, even in the smallest of ways :) I have sent a pull request for this. First time doing this, so hope I did it correctly. If not, please let me know! I am happy to resolve any issues.

[2019-12-18 01:08] jopollack opened #44 "Submodule update --init failure on excons"
I cannot get a clean git repo setup because of an issue with the excons submodule.

[code]

**To Reproduce**
Start fresh terminal:
[code]

[2019-12-18 01:14] miquelcampos commented on #44
Thanks for the feedback. I will check this.
I did some changes and maybe I have broken this

[2019-12-19 02:01] miquelcampos commented on #44
Hi @jopollack  just did an update for excons https://github.com/mgear-dev/mgear_dist/commit/382071062d0b2e9ab6c3f0a323b355f735fa0536 I think this fixes the issue
can you try again?

[2019-12-19 02:01] #44 closed

[2019-12-19 16:44] jopollack commented on #44
Yup, works now. Thanks!

[2020-02-11 08:10] jdrese opened #45 "Rigbits: Add spring bake function into menu"
It would be better if people can access the srping bake function from the menu as well.

[2020-02-11 09:15] jdrese commented on #45
Closed with
https://github.com/mgear-dev/mgear_core/commit/af12e4bd3e77df1cfea9a34a4eda2b1c37238b91

[2020-02-11 09:15] #45 closed

[2020-02-19 13:18] jdrese opened #46 "Parent switch dag menu not working when root node is parented under a non referenced heararchy"
If you have your rig in reference and parented under a non referenced node the ParentSwitch fails :(

[2020-02-19 14:30] nestorcolt opened #47 "After a build is done, the new animation context menu of MGear 3.4 is not working and Maya viewport heads up display are gone"
After any build the heads up display are gone from the viewport, and is impossible to bring them back. Just closing Maya and re open it will solve it.

The new feature of MGear 3.4 context menu isn't working either after a build has been done. I need to uncheck Mgear viewport menu and check it again to make it work

**To Reproduce**
Make a build

**Screenshots**
![mGear_viewport_bug](https://user-

[2020-02-19 16:24] jdrese opened #48 "Mirror function causes tag attributes to mirror their content"
When using the mirror function on the rig this can will cause the tagged settings on the hosts to get their strings mirrored as well breaking following mirrors.

[2020-02-25 08:06] scroll opened #49 "Make guide / rig nodes unique"
**Feature description**
Currently, when building a rig from a guide, there are duplicate names in both the guide and rig hierarchies. Would it be possible for the built rig to have unique node names not clashing with the already existing guide?

**Extra information**
Currently, we are working around this by using long names in our scripting, but we are wondering if that's at all possible without c

[2020-02-25 08:29] miquelcampos commented on #49
Hi @scroll

Yep this is something that I was thinking about for version 4.0,  I am afraid this will back-compatibility and will be not possible for 3.x

[2020-02-25 09:13] scroll commented on #49
Awesome, thanks @miquelcampos .

[2020-02-25 09:42] miquelcampos commented on #49
@scroll btw are you using long names on custom steps scripts?  or are scripts that you run after the rig is built?

Because inside custom steps you can access any object or attribute of any component or previous custom step

[2020-02-25 11:13] ivogrig commented on #49
I work with @scroll, you have a point @miquelcampos but the guide data is only given when the guide was built in the same go. It is probably a first world problem to say but it costs a lot of time when developing/iterating a post-script that relies onthe guide data.
I was wondering whether there could be a way to make that data persistent or cacheed for that purpose.

[2020-03-12 02:27] miquelcampos commented on #16
add Chris mGear guide to the official docs
https://rigmarolestudio.com/mgear-rigging-workflow/

[2020-05-01 18:31] sbudhram opened #51 "Allow Dup Sym to mirror extracted control curves"
It would be great if I could modify my control curves on the built rig, just for the left/center side, extract control curves to the left/center guides, then dup sym on the left guides and get the control curves mirrored automatically to the right side after build.  Would save time modifying guide curves that could be mirrored.

[2020-05-01 22:28] miquelcampos commented on #51
Hi @sbudhram
the tool that you are requesting already exists ;)
![image](https://user-images.githubusercontent.com/1050212/80846223-84183600-8c46-11ea-9389-e978d1a7a451.png)

[2020-05-01 22:28] #51 closed

[2020-05-08 19:28] sbudhram opened #52 "Viewport freeze when resizing Anim Picker"
Thank you for your continued support on this tool!

**Describe the bug**
Trying to resize the Anim Picker view will eventually cause the Maya Viewport to stop updating.  Maya restart is required after the issue.

**To Reproduce**
Environment:
macOS Catalina 10.15.4
Maya 2018.5
mGear 3.5.0
- Launch Maya with a new scene.
- From the mGear menu: mGear -> Shifter -> Guide Template Samples -> Biped Tem

[2020-06-16 02:26] miquelcampos opened #53 "update menus to str command"
setting all submodule menus to match https://github.com/mgear-dev/shifter/issues/86

[2020-06-16 02:49] #53 closed

[2020-07-03 08:21] liudger opened #54 "Lip Joints naming issue with facial rigger"
**Describe the bug**
The lip joints are not named with left and right naming convention. So when working with weights it's not easy to mirror. NGSkintools

**To Reproduce**
Just setup the face and do some manual tweaks and weight map gets damaged when you do a mirror

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional information**

[2020-07-08 20:14] rafmelo opened #55 "rigbits.lips_rigger.lipsFromfile / eye_rigger.eyesFromfile don't seem to work with new json config files"
rigbits.lips_rigger.lipsFromfile / eye_rigger.eyesFromfile don't seem to work with new json config files from 3.6.0.
They still work with old config files generated with mGear 3.0.3, though.

**To Reproduce**
Export json config files for the lips and eyes using the new Facial Rigger on mGear 3.6.0
Try to build using mgear.rigbits.lips_rigger.lipsFromfile(path)

**Screenshots**
![image](https://use

[2020-07-15 00:58] miquelcampos opened #56 "Easy installer"
create a drag and drop script to install mGear in the user folder

[2020-08-09 19:40] chris-lesage commented on #42
As of now, only mesh, nurbsSurface, and nurbsCurve are supported. The code explicitly checks for those types. But it should be straight forward to include lattices. (I had a note in my own tasks to tackle this too. I use lattices as well.)

[2020-08-11 00:12] miquelcampos commented on #42
Hello,
I have added this ticket to 3.x project.
If you can check this @chris-lesage that will be great. But I have assigned it to me, just in case ;)
Thanks

[2020-12-10 00:16] miquelcampos commented on #56
Hello @JaschaW

Just let you know that I have added your installer to mGear dist.
I have to review it for Mac and Linux.  :)

Thanks!

[2020-12-10 05:45] JaschaW commented on #56
Hey @miquelcampos

Thank you for letting me know! If there are any adjustments needed, please feel to let me know :)

At the time of writing, it was done in pymel. I didn't think of using PySide2 - might be better for future?

I did manage to test it on Linux, just not on Mac.

Anyways, happy to hear it is being integrated! :)

[2020-12-10 05:58] miquelcampos commented on #56
@JaschaW I think is not needed to update to pyside

and thanks for confirming that Linux is working.

btw: is not needed to unload the plugins in linux?

[2020-12-10 06:23] JaschaW commented on #56
Thanks @miquelcampos

Not sure I am following about the unload plugins Linux part?

[2020-12-10 06:32] miquelcampos commented on #56
@JaschaW is about this part
![image](https://user-images.githubusercontent.com/1050212/101730103-c539c800-3afc-11eb-9863-2e6142b1a1ff.png)

Now only unload and loads the .mll extension for windows. Since I don't use to work on linux or OSX I am not sure if that is needed for the other operative systems :P

[2020-12-10 06:43] JaschaW commented on #56
@miquelcampos I am also pretty new to the Linux operating system. I do see what you mean though as each OS has their respective extension names. Doing a super quick test, removing those extensions (.mll) and just having "mgear_solvers" still works.

[2020-12-10 06:46] JaschaW commented on #56
Maya Docs: [https://help.autodesk.com/view/MAYAUL/2020/ENU/index.html?guid=__CommandsPython_index_html](url)

When the plug-in is loaded, the name used in Maya's internal plug-in registry for the plug-in information will be the file name with the extension removed. For example, **if you load the plug-in "newNode.mll"** the name used in the **Maya's registry** will be **"newNode"**. This value as w

[2020-12-10 07:02] miquelcampos commented on #56
@JaschaW oh! hahaha! I didn't know. thanks for teaching me :D

So I guess I can close this ticket.  I will re-open if it fails when I test OSX

[2020-12-10 07:02] #56 closed

[2020-12-10 07:06] JaschaW commented on #56
@miquelcampos this is news to me as well! We both learnt something here today :) Thanks for bringing it up!

[2021-01-05 02:44] miica37 commented on #26
![mgear viewport menu grammar](https://user-images.githubusercontent.com/2059209/103600554-afc08e00-4f42-11eb-9bd6-08554aa0d3c8.jpg)

Bellow -> Below

I wish to help by submit a small patch (i guess that's what it's called and how it works) but haven't know how to do that yet..

[2021-01-05 04:29] miquelcampos commented on #26
@miica37 thanks for the feedback! I will fix it ASAP

[2021-01-06 00:41] miquelcampos commented on #26
@miica37 bellow was corrected to below :)

[2021-01-06 00:42] miquelcampos commented on #26
the other grammar issue in the facial rigger was also corrected in the past

[2021-01-06 00:42] #26 closed

[2021-02-24 22:38] miquelcampos opened #60 "dropping support for Maya 2017 and older"
stop supporting Maya 2017 and older versions

[2021-02-25 20:30] #60 closed

[2021-03-17 00:06] miquelcampos commented on #16
update rigging workflow snippets
[code]

[2021-04-07 02:34] miquelcampos opened #62 "New drag and drop installer"
more info https://github.com/mgear-dev/mgear_dist/pull/61

[2021-04-07 02:36] #62 closed

[2021-04-13 14:14] liudger opened #63 "matrixConstrain not loading on windows"
**Describe the bug**
when loading the plugins the matrixConstrain is missing

**To Reproduce**
Not sure if this is the latest mgear version. It's on the computer of the client

**Screenshots**
![IMAGE 2021-04-13 16:13:39](https://user-images.githubusercontent.com/4112111/114567112-363be880-9c73-11eb-8487-d04bf5994daf.jpg)

**Additional information**
Add any other information about the problem here

[2021-04-13 15:19] #63 closed

[2021-04-28 16:05] rmetcalf-retro opened #64 "Setting connector drop-down menu to "orientation" results in an averaged rotation of all IK Ref objects"
**Describe the bug**
If a component's IK Reference Array has multiple objects, and its connector is set to **orientation** (instead of standard), an orientConstraint is made with an "averaged" offset.  This differs from the **standard** connector setting, where a parentConstraint is made (but offset is maintained).

**To Reproduce**
Steps to reproduce the behavior:

1. Create multiple control_01 o

[2021-05-25 11:00] hsmainz opened #65 "import skd fails with sdk with more than two keys"
while the sdk_io.exportSDKs seems to correctly write SDK with more than two keys, the import with sdk_io.importSDKs is not correct.

[2021-05-25 11:12] #65 closed, assigned to nobody

[2021-05-25 11:13] hsmainz commented on #65
my mistake

[2021-05-25 23:57] hsmainz opened #66 "exporting of sdk doesnt work on blendshapes"
![image](https://user-images.githubusercontent.com/61831723/119582827-9e7aff80-bdc5-11eb-9865-d43994ea2963.png)

blendshape need to be added in connection types.

[2021-07-04 15:01] Lohult commented on #55
The reason why this is failing is that the lips rigger UI "export config" data arrangement that gets written to the .lips file hasn't been updated to reflect the changes made to what the lipsRig() function expects. The manual fix is to change the .lips file to contain a key called "lips" with the data arranged exactly like the lipsRig() function arguments are arranged. eg:

[code]
Apparently the f

[2021-07-04 15:24] Lohult commented on #55
It seems what's confusing here is that there are two lip riggers. The one is the legacy lips rigger which takes a .lips file with a different data arrangement than the new one rigbits.facial_rigger.lips_rigger uses. This is not a bug but rather the config from the new rigbits.facial_rigger.lips_rigger saved to disk and the module from the legacy lips rigger rigbits.lips_rigger used to load the new

[2021-07-04 15:30] chris-lesage commented on #55
I didn't see this issue until now. There are different commands for the new style configuration. I think some examples and a note about the difference should be added to the documentation in both modules.

[code]

[2021-07-06 19:43] rafmelo commented on #55
Thanks guys!
It's been a while, I figured I might have posted this at the wrong place. :P

[2021-07-06 23:36] miquelcampos commented on #55
@chris-lesage I am removing the old face rigger for mgear 4.0. if the issue is only duplicity, maybe we can close this issue?

[2021-07-06 23:40] chris-lesage commented on #55
@miquelcampos yes this can be closed. I'll keep a task reminder for myself to add a note to the 3.x documentation, if there are plans to keep that updated. And examples of usage in the 4.x documentation.

[2021-07-06 23:40] #55 closed